.prize
    width: 100%
    position: relative
    display: flex
    justify-content: center
    margin-bottom: 7px

    svg
        &:last-child
            display: none

    &.current
        

        svg path
            stroke: $orange

        .prize-content
            color: $orange

        .line
            background-color: $orange

    &.riched
        svg path
            stroke: $gray

        .prize-content
            color: $gray

        .line
            background-color: $gray

    .prize-content
        position: absolute
        margin: 0
        padding: 8px
        left: 50%
        top: 50%
        transform: translate(-50%,-55%)
        z-index: 3

    .line
        position: absolute
        top: 46%
        width: 100%
        height: 1px
        background-color: $gray
        z-index: 1


    .prize-svg-wrap
        z-index: 2
        
@media only screen and (max-width: 480px)
    .prize
        svg
            &:last-child
                display: block

            &:first-child
                display: none

        .prize-content
            padding: 0