.start-quiz-wrap
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
    background: linear-gradient(to top left, $orange-lighter 50%, $white 50%)

    .start-quiz
        position: relative
        top: -8%
        display: flex
        justify-content: center
        align-items: center
        padding-left: 20px
        padding-right: 20px
        flex-wrap: wrap

    .heading-btn
        padding-left: 119px

    .btn
        margin-top: 65px
    